<%- include("partials/header.ejs") %>

    <div class="container mt-5">

        <div class="row">
            <div class="col-xxl-3 col-lg-6">
                <div class="flex-wrap">
                    <img src="<%= product.image_url %>" alt="" class="rounded shadow m-2">
                </div>
            </div>

            <div class="col-xxl-6">
                <div class="flex-wrap p-3">
                    <h3>
                        <%= product.name %>
                    </h3>
                    <h1>$<%= product.price %>
                    </h1>

                    <hr>

                    <p>
                        <%= product.description %>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it
                            to
                            make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting,
                            remaining essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem
                            Ipsum passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has
                            been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it
                            to
                            make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting,
                            remaining essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem
                            Ipsum passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                    </p>
                </div>

            </div>

            <div class="col-xxl-3 col-lg-6">
                <div class="p-3 flex-wrap border border-dark rounded">
                    <h4>Quantity</h4>

                    <form action="/add-to-cart" method="post">
                        <div class="d-flex flex-row align-items-center">
                            <div class="btn-group btn-group-sm me-2" role="group" aria-label="...">
                                <button type="button" class="btn btn-sm btn-dark" id="minus-btn">-</button>
                                <input name="quantity" type="number" min="1" max="<%= product.stock %>"
                                    class="border-dark text-center" value="1" id="input-qty" onkeyup="updateQuantity()">
                                <button type="button" class="btn btn-sm btn-dark" id="plus-btn">+</button>
                            </div>
                            <div>
                                <p class="d-inline">
                                    <b>
                                        <%= product.stock %>
                                    </b> left
                                </p>
                            </div>
                        </div>

                        <div class="mt-3">
                            <div class="d-flex flex-column">
                                <p class="fs-2">$<span id="total"><%= product.price %></span></p>
                                <input type="hidden" id="inputTotal" name="total" value="<%= product.price %>">
                                <input type="hidden" name="product_id" value="<%= product.product_id %>">
                                <div>
                                    <button type="submit" class="btn btn-lg btn-primary <% if (parseInt(product.stock) === 0) { %> disabled <% } %>">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script>
        plusBtn = document.getElementById('plus-btn');
        minusBtn = document.getElementById('minus-btn');
        inputField = document.getElementById('input-qty');
        total = document.getElementById("total");
        inputTotal = document.getElementById("inputTotal");

        plusBtn.addEventListener('click', function () {
            inputField.value = Math.min(parseInt(inputField.value) + 1, <%= parseInt(product.stock) %>);
            updateTotal()
            updateButtonStates();
        });

        minusBtn.addEventListener('click', function () {
            inputField.value = Math.max(parseInt(inputField.value) - 1, 1);
            updateTotal()
            updateButtonStates();
        });

        function updateQuantity() {
            inputField.value = Math.max(Math.min(parseInt(inputField.value), <%= parseInt(product.stock) %>), 1);
            updateTotal()
            updateButtonStates();
        }

        function updateTotal() {
            total.innerText = parseInt(inputField.value) * <%= parseInt(product.price) %>;
            inputTotal.value = parseInt(inputField.value) * <%= parseInt(product.price) %>;
        }

        function updateButtonStates() {
            const minusButton = document.getElementById('minus-btn');
            const plusButton = document.getElementById('plus-btn');
            minusButton.disabled = parseInt(inputField.value) === 1;
            plusButton.disabled = parseInt(inputField.value) === <%= parseInt(product.stock) %>;
        }

        updateButtonStates();
    </script>
    </div>


<%- include ("partials/footer.ejs") %>